@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
html{
    width:1400px;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
.sidebar{
    background-image:url("../assets/images/bg-sidebar-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height:90.3vh;
    width:22.9vw;
    position:relative;
    left:30px;
    top:35px;
}
.btn1{
    border-radius:100%;
    width:50px;
    height:50px;
    position:absolute;
    top:50px;
    left:30px;
}
.btn2{
    border-radius:100%;
    width:50px;
    height:50px;
    position:absolute;
    top:120px;
    left:30px;
}
.btn3{
    border-radius:100%;
    width:50px;
    height:50px;
    position:absolute;
    top:190px;
    left:30px;
}
.btn4{
    border-radius:100%;
    width:50px;
    height:50px;
    position:absolute;
    top:260px;
    left:30px;
}
.sidebar-text1{
    position:absolute;
    top:57px;
    left:100px;
    line-height: 0.5;
    color:hsl(231, 100%, 99%);
    font-weight:bolder;
    letter-spacing: 2px;
}
.step{
    color:hsl(228, 100%, 84%);
    font-weight: lighter;
}
.sidebar-text2{
    position:absolute;
    top:127px;
    left:100px;
    line-height: 0.5;
    color:hsl(231, 100%, 99%);
    font-weight:bolder;
    letter-spacing: 2px;
}
.sidebar-text3{
    position:absolute;
    top:197px;
    left:100px;
    line-height: 0.5;
    color:hsl(231, 100%, 99%);
    font-weight:bolder;
    letter-spacing: 2px;
}
.sidebar-text4{
    position:absolute;
    top:267px;
    left:100px;
    line-height: 0.5;
    color:hsl(231, 100%, 99%);
    font-weight:bolder;
    letter-spacing: 2px;
}
.btn:hover{
    background-color:hsl(206, 94%, 87%);
}
.clicked{
    background-color:hsl(206, 94%, 87%);
    color: hsl(243, 100%, 62%);
    font-weight: bolder;
}


.Personal{
    position:relative;
    top:85px;
    letter-spacing: 1.5px;
    color:hsl(213, 96%, 18%);
}
.number{
    position:relative;
    top:180px;
    color:hsl(213, 96%, 18%);
    font-weight: bold;
}
.name{
    position:relative;
    top:120px;
    color:hsl(213, 96%, 18%);
    font-weight: bold;
}
.email{
    position:relative;
    top:150px;
    color:hsl(213, 96%, 18%);
    font-weight: bold;
}
.form-control{
    color:hsl(213, 96%, 18%);
    border-color:rgb(225, 222, 222);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 3px rgb(237, 235, 235); 
    font-weight: 450;
}
.form-control:focus {
    border-color:hsl(243, 100%, 62%);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 0px hsl(243, 100%, 62%);
    cursor:pointer;
  }
  .form-control:hover{
    cursor:pointer;
  }
.next{
    position:relative;
    top:300px;
    left:415px;
    width:126px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.next:hover{
    background-color: hsl(213, 89%, 40%);
}
