@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
html{
    width:1400px;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
.sidebar{
    background-image:url("../assets/images/bg-sidebar-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height:90.3vh;
    width:22.9vw;
    position:relative;
    left:30px;
    top:35px;
}
.btn1{
    border-radius:100%;
    width:50px;
    height:50px;
    position:absolute;
    top:50px;
    left:30px;
}
.btn2{
    border-radius:100%;
    width:50px;
    height:50px;
    position:absolute;
    top:120px;
    left:30px;
}
.btn3{
    border-radius:100%;
    width:50px;
    height:50px;
    position:absolute;
    top:190px;
    left:30px;
}
.btn4{
    border-radius:100%;
    width:50px;
    height:50px;
    position:absolute;
    top:260px;
    left:30px;
}
.sidebar-text1{
    position:absolute;
    top:57px;
    left:100px;
    line-height: 0.5;
    color:hsl(231, 100%, 99%);
    font-weight:bolder;
    letter-spacing: 2px;
}
.step{
    color:hsl(228, 100%, 84%);
    font-weight: lighter;
}
.sidebar-text2{
    position:absolute;
    top:127px;
    left:100px;
    line-height: 0.5;
    color:hsl(231, 100%, 99%);
    font-weight:bolder;
    letter-spacing: 2px;
}
.sidebar-text3{
    position:absolute;
    top:197px;
    left:100px;
    line-height: 0.5;
    color:hsl(231, 100%, 99%);
    font-weight:bolder;
    letter-spacing: 2px;
}
.sidebar-text4{
    position:absolute;
    top:267px;
    left:100px;
    line-height: 0.5;
    color:hsl(231, 100%, 99%);
    font-weight:bolder;
    letter-spacing: 2px;
}
.btn:hover{
    background-color:hsl(206, 94%, 87%);
}
.clicked{
    background-color:hsl(206, 94%, 87%);
    color: hsl(243, 100%, 62%);
    font-weight: bolder;
}
.last{
    text-align: center;
}
img{
    position:relative;
    top:240px;
}

h1{
    position:relative;
    top:270px;
    color: hsl(213, 96%, 18%);
}

p.thank-you{
    position:relative;
    top:290px;
    left:180px;
    width:55%;
    color:hsl(229, 19%, 65%);
    font-weight: 400;
}